In [ ]:
import pandas as pd
import numpy as np

# Cleaning Up the Billboard Hot 100

Onika Tanya Maraj (better known by her stage name Nicki Minaj) knows she’s the
baddest alive, but nonetheless, she wants to learn more about the popularity of her
greatest hits.

She obtains a dataset of entries from the Billboard Hot 100, an American
music chart updated weekly containing the 100 most popular songs of that week. The
dataset has 100 entries per week (corresponding to each song on the chart for that
particular week), for every week from 1958 until today in 2022.

As of 2018, rank is
determined by a specific combination of physical/digital sales, radio play, and online
streaming. However, the dataset is large and messy, so she enlists you, a Data 100
student, as a consultant to help her clean and understand the data.

You load the data
into a Pandas DataFrame called billboard. A call to billboard.head(10) is shown
below:

In [ ]:
billboard = pd.read_csv('billboard.csv')

In [ ]:
billboard.head(10)

### 1c
Since Onika only wants an assessment of her music, you need to obtain a DataFrame
of only her Billboard Hot 100 entries. Write a line of code to accomplish this (be
sure to use her stage name ”Nicki Minaj”). Store your result in a variable called
`nicki`.

In [ ]:
nicki = billboard[billboard['performer'] == 'Nicki Minaj']
nicki.head(5)

### 1d
In this new `nicki` DataFrame, are there any missing values in the consecutive weeks
column? Write a line of Pandas code to return the amount of missing values in this
column.

In [ ]:
np.sum(nicki["consecutive_weeks"].isnull())

### 1f
Onika wants to know what her most successful year was, where success is measured 
by the number of Billboard Hot 100 entries she had across all weeks of a give year.

Write e two lines of Pandas code to return a Series whose index is the year, a d
whose values are the number of entri
*s. (Hint: you might want to add a col cn
corresponding to the year of each observation, and Series.str.split(‘-’) is  our
fri*end!)

In [ ]:
nicki.loc[:, 'year'] = nicki['chart_date'].str.split('-').str[2]
nicki.groupby('year')['song'].count()