In [ ]:
import pandas as pd
import numpy as np

## Question 1

Suppose we have the following DataFrame about pandas (the animal) shown below. We will calculate various statistics about pandas using the pandas library. In the end, we will hopefully understand pandas and pandas better!
The DataFrame `panda` contains two columns: age and height for 10,000 pandas acr ss the world.

In [ ]:
panda = pd.DataFrame(
    {
        "name" : ['Pete', 'Sarah', 'Bono', 'Jasper', 'May'],
        "age": [13, 17, 9, 2, 4],
        "height": [18, 29, 7, 4, 13]
    }
)
panda

### Part a

Let us first convert the pandas heights into values with meters. Create a column
`height in meters` that has each panda’s height in meters instead, and add it to the
Dataframe `panda`.

### Part b

We first want to know if there is a relationship between a panda’s age and height in
meters. Write a one-line expression to calculate the average ratio between a panda’s
height and age for all pandas in our DataFrame.

### Part c

Instead, suppose we decide to calculate the median height for each age. Write a
one-line pandas expression to accomplish this.

### Part d

Expanding on the expression from the previous section, calculate the median ratio
between a panda’s height and age for each age. Write pandas code to accomplish
this.

### Part e

The zoo manager sends you another Dataframe mothers of mother-children relationships for the pandas in the above Dataframe:

In [ ]:
mother = pd.DataFrame(
    data = {
        'child' : ['Jasper', 'May', 'Sarah', 'Pete', 'Bono'],
        'mother' : ['Giselle', 'Alice', 'May', 'Alex', 'Bella']
    }
)
mother

Write a line of pandas code to add a new column mother to the DataFrame panda
that contains each panda’s corresponding mother.

## Question 2

We will work with an Olympics dataset containing the names of all athletes who par-
ticipated in the Olympic Games, including all the Games from Athens 1896 to Tokyo
2020. We refer to this dataframe as ath. The first 5 lines of the table are shown below.
You may assume that the ID column is unique to each athlete and that the only column
with null values are height, weight, and medal.

In [ ]:
ath = pd.DataFrame({"ID": [1, 2, 2, 3, 4],
             "Name": ["Edgar Lindenau Aabye", "Minna Maarit Aalto", "Minna Maarit Aalto", "Kjetil Andr Aamodt", "Ragnhild Margrethe Aamodt"],
             "Sex": ["M", "F", "F", "M", "F"],
             "Age": [34.0, 30.0, 34.0, 20.0, 27.0],
             "Height": [np.nan, 159, 159, 176, 163],
             "Weight": [np.nan, 55.5, 55.5, 85, np.nan],
             "Team": ["Denmark/Sweden", "Finland", "Finland", "Norway", "Norway"],
             "Year": [1900, 1996, 2000, 1992, 2008],
             "Season": ['Summer', "Summer", "Summer", "Winter", "Summer"],
             "City": ["Paris", "Atlanta", "Sydney", "Albertville", "Beijing"],
             "Sport": ["Tug-Of-War", "Sailing", "Sailing", "Alpine Skiing", "Handball"],
             "Event": ["Tug-Of-War Men's Tug-Of-War", "Sailing Women's Windsurfer", "Sailing Women's Windsurfer", "Alpine Skiing Men's Super G", "Handball Women's Handball"],
             "Medal": ["Gold", np.nan, np.nan, "Gold", "Gold"]})


ath

### Part a

Write pandas code to returns the 10 most common middle names among gold medal
winners as pandas Series. The column Name contains the first name, the middle
name, and the last name of each athlete that are separated by space. You may
assume that all athletes in the table have a middle name. You can assume all
athlete’s names are unique.

### Part b

Which of the following lines of Pandas code will output the the most number of
medals won by a single athlete?

In [ ]:
# Choice (A)
ath['ID'].groupby('ID').count().iloc[0]

In [ ]:
# Choice (B)
ath[['ID']].groupby('ID').count().iloc[0]

In [ ]:
# Choice (C)
ath[["ID", "Medal", "Name"]].groupby("Name").count().sort_values("Medal", ascending = False)["Medal"].iloc[0]

## can't do value_counts() because it'll find the total count of non-null and null medals. 
## .count() just finds the count of non-null

In [ ]:
# Choice (D)
ath[['ID', 'Medal']].groupby('ID').size().iloc[0]

In [ ]:
# Choice (E)
ath[['Name', 'Medal']].groupby('Name').sum().iloc[0]

In [ ]:
# Choice (F)
ath[['Name', 'Medal']].groupby('Name').count().iloc[0].sort\_values(
'Medal', ascending = False)

### Part c

What are the oldest athletes to participate in each sport along with the corre-
sponding year in which they participated? For this question, the ’corresponding
year’ referred to the final year that the athlete participated.

### Part d

Fill in the blanks below to return the names of all the athletes who won a medal
after a gap of 10 years or more of not winning any Olympics medals. You may
assume that each individual’s name is unique to them.

##### Currently no output because the dataset isn't comprehensive, but feel free to play around with the DataFrame to generate output